@page "/MeuCurriculo"

<title>Resume</title>
<body>
	<header>
		<h3>Confira o meu curriculo</h3>
	</header>
	<main>
		<img src="Imagens/maria.jpg" style="width:250px; border-radius:100000px"/>
		<div class="informacoesBasicas">
			<h4>Maria Eduarda Yamamoto Tome</h4> 
			<p>Brasil, Rondônia, Ouro Preto do Oeste, Bairro Liberdade <br />Rua Castelo Branco 889  <i class="fa-solid fa-location-dot" style="margin-left:10px; width:10px"></i></p>
			<p>maria.tome@estudante.ifro.edu.br <i class="fa-solid fa-envelope" style="margin-left:10px; width:10px"></i></p>
			<p>(69)99950-2431 <i class="fa-solid fa-mobile" style="margin-left:10px; width:10px"></i></p>
		</div>
		<div class="objetivo">
			<h5>Objetivo</h5>
			<p>Programadora Junior</p>
		</div>
		<div class="qualificacoes">
			<h5>Qualificações Profissionais</h5>
			<p>Otima protividade, entrega de demandas no prazo,<br /> espirito de liderança de equipes <br />e aplicação da metodologia Kambam para organização das atividades</p>

		</div>
	</main>
</body>
@code {

}
