@page "/MeuCurriculo"
@layout Layout.BaseLayout


<h3>Confira o meu currículo</h3>

<div class="curriculo">
	<img src="Imagens/maria.jpg" style="width:250px; border-radius:100000px" />
	<div class="informacoesBasicas">
		<h4>Maria Eduarda Yamamoto Tome</h4>
		<p>Brasil, Rondônia, Ouro Preto do Oeste, Bairro Liberdade <br />Rua Castelo Branco 889  <i class="fa-solid fa-location-dot" style="margin-left:10px; width:10px"></i></p>
		<p>yamamotom052@gmail.com <i class="fa-solid fa-envelope" style="margin-left:10px; width:10px"></i></p>
		<p>(69)99950-2431 <i class="fa-solid fa-mobile" style="margin-left:10px; width:10px"></i></p>
	</div>

	<div class="objetivo">
		<h5>	<hr />Objetivo</h5>
		<p>Programadora Junior</p>
	</div>

	<div class="qualificacoes">
		<h5>	<hr />Qualificações Profissionais</h5>
		<p>Otima protividade, entrega de demandas no prazo,<br /> espirito de liderança de equipes <br />e aplicação da metodologia Kambam para organização das atividades</p>
	</div>
	<div class="experiencia">
		<h5>	<hr />Experiência Profissional</h5>
		<p>Fui uma das programadoras do projeto "Python vs. C - Comparando Desempenho<br /> Computacional com Numba e OpenMP" e fui monitora<br /> da matéria de Lógica de Programação</p>
	</div>
	<div class="formacao">
		<h5>	<hr />Formação</h5>
		<p>Formanda em Técnico em Informática</p>

	</div>
	<div class="CursosAdd">
		<h5>	<hr />Cursos Adicionais</h5>
		<p>Curso de C</p>
		<p>Curso de Python</p>
		<p>Curso de HTML e CSS</p>
	</div>
	<div class="Idiomas">
		<h5><hr />Idiomas</h5>
		<p>Inglês avançado</p>
	</div>
</div>