@page "/Sobre"
<title>about me</title>
<body>
	<header>
		<h3>Conheça um pouco sobre o site</h3>
	</header>
	<main>
		<div class="info">
			<ol>
				<h5><b>Para que foi construido esse site?</b></h5>
				<li>Esse site foi construido para a materia de Projeto de Desenvolvimento de Sistema (PDS)</li>
				<li>Que conhecessemos mais a nós mesmos</li>
				<li>Para aprender a mexer no Blazor</li>
			</ol>
			<ol>
				<h5><b>Quem sou eu?</b></h5>
				<li>Sou Maria Eduarda Yamamoto</li>
				<li>Meu aniversário é dia 07/10/2007</li>
				<li>Tenho 17 anos</li>
				<li>Estudo no curso técnico em informática no IFRO</li>
				<li>Tenho duas Gatinhas uma se chama Kira e a outra é Maru</li>
				<li>Gosto de tubarões, principalmente o tubarão branco</li>
				<li>Gosto muito das matérias do curso técnico</li>
				<li>Minha série favorita é Big Bang Theory</li>
				<li>Eu amo meu namorado 🥹</li>
			</ol>
		</div>
	</main>
</body>
@code {

}
