@page "/Sobre"
<title>about me</title>
<body>
	<header>
		<h3>Conheça um pouco sobre o site</h3>
	</header>
	<main>
		<ol>
			<h5><b>Para que foi construido esse site?</b></h5>
			<li>Esse site foi construido para a materia de Projeto de Desenvolvimento de Sistema (PDS)</li>
			<li>Que conhecessemos mais a nós mesmos</li>
			<li>Para aprender a mexer no Blazor</li>
		</ol>
	</main>
</body>
@code {

}
